#main_container{
    background-color: rgb(130, 189, 244);
    border-radius: 25px;
    padding: 20px;
    width: 800px;
    height: 90px;
    text-align-last: center;
}
#body{
    background-color: rgb(223, 238, 252);
    
}

#book_name{
    background-color: rgb(118, 186, 250);
    padding: 10px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    /* border-style: outset ; */
}

#book_Description{
    background-color: rgb(118, 186, 250);
    padding-top: 3px;
    width: 150px;
    border-radius: 10px;
    padding-left: 15px;
    height: 35px;
    /* border-style:  outset  ; */

}
#book_price{
    background-color: rgb(118, 186, 250);
    padding-top: 3px;
    border-radius: 10px;
    padding-left: 10px;
    height: 35px;
    width: 100px;
    /* border-style: outset ; */
}
#attach_file{
    background-color: rgb(118, 186, 250);
    padding-top: 3px;
    border-radius: 10px;
    padding-left: 10px;
    height: 35px;
    width: 100px;
    /* border-style: outset ; */
}

/* #add_book_button{
    color: rgb(252, 233, 206);
} */


#add_book_button:hover{
    background-color: rgb(6, 28, 117);
  }